/*Mobile first specs*/
.page {
  background-color: #74B3CE;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

.main {
  border: 1px solid #707070;
  background-color: white;
  padding: 1rem;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section {
}

.appTitle{
  text-align: center;
  margin-bottom: 10px;
}

.pageTitle {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 20px;
}

.content {
  margin: 0 5px;
  font-size: 1.25rem;
}

.introText {
  margin-bottom:15px;
}

.bullet {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  gap: 10px;
}

.contentTitle {
  list-style-type: none;
}

.contentText {
  margin-top: 5px;
  margin-bottom: 20px;
}

.primaryTextColorBold {
  color: #004346;
  font-weight: bold;
}

.primaryTextColorLight{
  color: #004346;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-self: flex-end;
}

.footerDirections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerArrowTitle {
  margin-top: 5px;
  font-size: 1.25rem;
}

@media only screen and (min-width: 600px){
  .page {
    width: 30%;
    margin: auto;
  }
}

